* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s;
}

a:hover, button:hover, .hover-effect:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.page {
  color: #1b2129;
  scroll-behavior: smooth;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page_body {
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s, transform .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.no-scroll {
  overflow: hidden;
}

.header {
  box-sizing: border-box;
  background-image: url("header-bg-mobile.2d58f869.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 586px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

h1 {
  color: #fff;
  margin-left: 28px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.header__bottom {
  padding: 0 20px 40px;
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  padding: 24px 20px;
  display: flex;
}

.top-bar__icons {
  gap: 28px;
  display: flex;
}

.top-bar__logo {
  display: flex;
}

.menu {
  box-sizing: border-box;
  background-color: #f9f9f9;
  height: 100vh;
  font-weight: 700;
  overflow: auto;
}

.menu__top {
  z-index: 1;
  background: none;
  margin-bottom: 30px;
  margin-left: 0;
  position: sticky;
  top: 0;
}

.menu__nav {
  margin-bottom: 45px;
}

.nav__item a {
  padding: 0;
}

.footer__content a {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #191919;
  width: 280px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.nav__item a:hover {
  border-bottom: 1px solid #1b2129;
  padding-bottom: 3px;
  text-decoration: none;
  display: inline-block;
}

.menu__content {
  padding-inline: 20px;
}

.menu__phone-number {
  color: inherit;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  display: block;
}

.menu__call-to-order {
  color: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #1b2129;
  width: fit-content;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  display: block;
}

.contact-change-color:hover {
  color: #000;
}

.nav__link {
  color: inherit;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
}

.nav__list {
  flex-direction: column;
  gap: 29px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.icon:hover {
  color: #000;
}

.icon--phone {
  background-image: url("icon-phone-call.62beee63.svg");
  background-repeat: no-repeat;
}

.icon--menu {
  background-image: url("icon-burger-menu.335e891c.svg");
  background-repeat: no-repeat;
}

.icon--close {
  background-image: url("icon-close.cac3d951.svg");
  background-repeat: no-repeat;
}

.main {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.recommended {
  color: #1b2129;
  flex-direction: column;
  align-items: center;
  font-family: Manrope, sans-serif;
  display: flex;
}

.main__section__title {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.recommended__img {
  width: 280px;
  height: 280px;
  overflow: hidden;
}

.recommended__img img {
  transition: transform .25s;
}

.recommended__img:hover {
  transform: scale(1.1);
}

.recommended__goods-title {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.recommended__goods-content {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.recommended__goods-prices {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 46px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.categories {
  color: #1b2129;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin-top: -8px;
  margin-bottom: 96px;
  padding-left: 142px;
  font-family: Manrope, sans-serif;
  display: flex;
}

.main__section-categories__title {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 100%;
  margin-top: 66px;
  margin-bottom: 44px;
  margin-right: 136px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.categories__box {
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 170px;
  margin-bottom: 24px;
  margin-left: -150px;
  display: flex;
}

.categories__box__image {
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 110px;
  display: flex;
}

.categories__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.categories__img img {
  transition: transform .25s;
}

.categories__img:hover {
  transform: scale(1.1);
}

.categories__box1__image-1, .categories__box2__image-1, .categories__box3__image-1 {
  margin-right: 0;
}

.categories__box__title {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 100%;
  margin-top: -346px;
  margin-bottom: -210px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25;
}

.categories__button {
  opacity: 1;
  text-align: center;
  color: #fff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  background-color: #f98921;
  border: none;
  border-radius: 8px;
  gap: 0;
  width: 280px;
  height: 56px;
  margin-top: 0;
  margin-left: -150px;
  padding: 0 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  transition: all .3s;
  display: block;
}

.categories__button:hover {
  background-color: #1b2129;
}

.categories__button:active {
  background-color: #010810;
}

.about-us {
  color: #1b2129;
  z-index: -1;
  background-color: #fcfaef;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 600px;
  font-family: Manrope, sans-serif;
  display: flex;
}

.about-us__img {
  box-sizing: border-box;
  z-index: 1;
  background: url("about-us.47089261.jpg") center / cover no-repeat;
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.main__about-us__content {
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.about-us__title {
  width: 100%;
  margin-top: 46px;
  margin-bottom: 26px;
  margin-left: 16%;
}

.about-us__content {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 100%;
  margin-left: 16%;
  padding-bottom: 48px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.contact-us {
  color: #1b2129;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  font-family: Manrope, sans-serif;
  display: flex;
}

.contact-us__fields {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 280px;
  margin-bottom: 4px;
}

.contact-us__fields__style {
  opacity: 1;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7e7e83;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  gap: 0;
  width: 264px;
  margin-bottom: 20px;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.contact-us__fields__style:hover {
  color: #1b2129;
  background-color: #f9f9f9;
  border: 1px solid #dbdbdb;
}

.contact-us__fields__style:focus {
  color: #1b2129;
  background-color: #f9f9f9;
  border: 2px solid #f98921;
  outline: none;
}

.contact-us__fields_info {
  height: 48px;
  padding-left: 16px;
}

.contact-us__fields__area {
  resize: none;
  gap: 10px;
  height: auto;
  min-height: 148px;
  padding: 16px 0 0 16px;
}

.contact-us__button {
  opacity: 1;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  cursor: pointer;
  background-color: #f98921;
  border: none;
  border-radius: 8px;
  gap: 0;
  width: 264px;
  height: 56px;
  margin-top: 10px;
  padding-left: 48px;
  padding-right: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  transition: all .3s;
}

.contact-us__button:hover {
  background-color: #1b2129;
}

.contact-us__button:active {
  background-color: #010810;
}

.footer {
  color: #1b2129;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 46px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  font-family: Manrope, sans-serif;
  display: flex;
}

.footer__title {
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #9393a3;
  width: 280px;
  margin-bottom: 10px;
  padding: 0;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.footer__content {
  margin-bottom: 20px;
}

.footer__content a:hover {
  text-decoration: underline;
}

@media (width >= 768px) and (width <= 1024px) {
  .header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
  }

  .top-bar {
    background: none;
    margin-left: 70px;
    padding: 34px 48px;
  }

  .top-bar__logo {
    content: url("Logo-tablet.397e04bf.svg");
    margin-bottom: 20px;
    margin-left: -38px;
  }

  .menu__content {
    margin-left: -44px;
  }

  .icon {
    cursor: pointer;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
  }

  .icon--phone a {
    content: url("Icon-Phone-call-tablet.37b8d2be.svg");
  }

  .icon--phone:hover:before {
    content: "+1 234 555-55-55";
    white-space: nowrap;
    letter-spacing: 2px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1b2129;
    align-items: center;
    margin-left: -147px;
    padding: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    display: flex;
  }

  .icon--menu a {
    content: url("icon-burger-menu-tablet.733cd3a2.svg");
  }

  .icon--menu {
    margin-top: 4px;
  }

  .icon--menu:hover {
    background-image: url("icon-burger-menu-hover.c52aa833.svg");
    background-repeat: no-repeat;
  }

  h1 {
    padding-left: 26px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }

  .icon--close {
    content: url("icon-close-tablet.9644684e.svg");
    background-repeat: no-repeat;
  }

  .nav__list {
    margin-left: 102px;
  }

  .nav__link {
    flex-direction: column;
    padding-left: 100px;
    display: flex;
  }

  .menu__phone-number, .menu__call-to-order {
    margin-left: 100px;
  }

  .tablet {
    width: 744px;
    margin: 0 auto;
  }

  .main__section__title {
    margin-left: 150px;
    font-size: 40px;
    line-height: 40px;
  }

  .recommended__tablet {
    width: 100%;
    margin-left: 10px;
  }

  .recommended__img {
    width: 600px;
    height: 600px;
  }

  .recommended__beosound-a5__img img {
    content: url("b-a5-tablet.1200cac4.jpg");
  }

  .recommended__goods-title {
    margin-top: 18px;
    margin-bottom: 6px;
  }

  .recommended__goods-content {
    width: 586px;
    margin-bottom: 30px;
  }

  .hidden-br {
    display: none;
  }

  .recommended__beoplay__img img {
    content: url("beoplay-tablet.4cdfb6de.jpg");
  }

  .recommended__beosound-theatre__img {
    content: url("b-theatre-tablet.eabecebf.jpg");
  }

  .categories {
    margin-bottom: 120px;
  }

  .main__section-categories__title {
    margin-left: 12px;
    font-size: 40px;
    line-height: 40px;
  }

  .categories__box {
    width: 600px;
    height: 234px;
    margin-left: -120px;
  }

  .categories__box__title {
    margin-top: -104px;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
  }

  .categories__img {
    width: 288px;
    height: auto;
    margin-right: 6px;
  }

  .categories__box1__image-1 {
    content: url("box1-1-tablet.4d969cf9.jpg");
  }

  .categories__box1__image-2 {
    content: url("box1-2-tablet.a49ba32b.jpg");
  }

  .categories__box2__image-1 {
    content: url("box2-1-tablet.a92ee1c5.jpg");
  }

  .categories__box2__image-2 {
    content: url("box2-2-tablet.0006da27.jpg");
  }

  .categories__box3__image-1 {
    content: url("box3-1-tablet.0a1c3332.jpg");
  }

  .categories__box3__image-2 {
    content: url("box3-2-tablet.9fb0d62b.jpg");
  }

  .categories__button {
    width: 600px;
    margin-left: -124px;
  }

  .about-us {
    background-size: cover;
    width: 100vw;
    height: 800px;
    margin: 0 auto;
  }

  .about-us__img {
    box-sizing: border-box;
    background: url("about-us-tablet.dd0875d5.jpg") center / cover no-repeat;
    width: 100%;
    height: 400px;
  }

  .main__about-us__content {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
    width: 100%;
    padding: 0 30px;
    display: flex;
  }

  .about-us__title {
    width: 450px;
    margin-top: 42px;
    margin-left: 46px;
  }

  .dell-br {
    display: none;
  }

  .about-us__content {
    width: 488px;
    margin-top: 122px;
    margin-left: 34px;
    margin-right: 54px;
  }

  .contact-us {
    margin-top: 46px;
  }

  .contact-us__fields {
    flex-direction: column;
    width: 100%;
    margin-left: 158px;
    display: flex;
  }

  .contact-us__fields__style, .contact-us__button {
    width: 600px;
  }

  .footer {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 60px;
    margin-left: -150px;
    display: flex;
  }
}

@media (width >= 1025px) {
  .page_body {
    position: relative;
  }

  .header {
    width: 100%;
    height: 720px;
    margin: 0 auto;
  }

  .top-bar__logo {
    content: url("Logo-tablet.397e04bf.svg");
    padding-top: 10px;
    padding-left: 100px;
  }

  .top-bar {
    background: none;
    margin-left: -18px;
    padding: 24px 38px;
  }

  .top-bar__icons {
    margin-right: 74px;
  }

  .icon {
    cursor: pointer;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
  }

  .icon--phone a {
    content: url("Icon-Phone-call-tablet.37b8d2be.svg");
  }

  .icon--phone:hover:before {
    content: "+1 234 555-55-55";
    white-space: nowrap;
    letter-spacing: 2px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1b2129;
    align-items: center;
    margin-left: -147px;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    display: flex;
  }

  .icon--menu {
    margin-top: 4px;
  }

  .icon--menu a {
    content: url("icon-burger-menu-tablet.733cd3a2.svg");
  }

  .icon--menu:hover {
    background-image: url("icon-burger-menu-hover.c52aa833.svg");
    background-repeat: no-repeat;
  }

  h1 {
    padding-bottom: 10px;
    padding-left: 68px;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
  }

  .menu__content {
    margin-top: 60px;
    margin-left: -4px;
  }

  .icon--close {
    content: url("icon-close-tablet.9644684e.svg");
    background-repeat: no-repeat;
    margin-right: 82px;
  }

  .nav__list {
    margin-left: 102px;
  }

  .nav__link {
    flex-direction: column;
    padding-left: 100px;
    display: flex;
  }

  .nav__link:hover {
    text-decoration: underline;
  }

  .menu__phone-number, .menu__call-to-order {
    margin-left: 100px;
  }

  .laptop {
    width: 1000px;
  }

  .recommended {
    width: 100%;
    margin-top: 52px;
  }

  .recommended__laptop {
    box-sizing: border-box;
    justify-content: center;
    gap: 20px;
    width: 1012px;
    margin-left: 30px;
    display: flex;
  }

  .recommended__img {
    width: 100%;
    height: auto;
  }

  .recommended__beosound-a5__img img {
    content: url("b-a5-laptop.78417735.jpg");
  }

  .recommended__beoplay__img img {
    content: url("beoplay-laptop.30b14bf9.jpg");
  }

  .recommended__beosound-theatre__img {
    content: url("b-theatre-laptop.56b8c57c.jpg");
  }

  .main__section__title {
    justify-content: center;
    width: 100%;
    margin-left: -632px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    display: flex;
  }

  .categories__img {
    width: 498px;
    height: auto;
    margin-right: 0;
  }

  .categories__box1__image-1 {
    content: url("box1-1-laptop.ae23a954.jpg");
  }

  .categories__box1__image-2 {
    content: url("box1-2-laptop.935ea3f0.jpg");
  }

  .categories__box2__image-1 {
    content: url("box2-1-laptop.f5e739f9.jpg");
  }

  .categories__box2__image-2 {
    content: url("box2-2-laptop.1482ecd4.jpg");
  }

  .categories__box3__image-1 {
    content: url("box3-1-laptop.81c1041a.jpg");
  }

  .categories__box3__image-2 {
    content: url("box3-2-laptop.b7993bed.jpg");
  }

  .main__section-categories__title {
    margin-bottom: 48px;
    margin-left: -120px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }

  .categories__box {
    width: 1020px;
    height: 374px;
    margin-left: -110px;
  }

  .categories__box__title {
    margin-top: -100px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
  }

  .categories__button {
    margin-top: 10px;
    margin-left: -567px;
  }

  .about-us {
    width: 100%;
    height: 860px;
    margin: 36px auto 0;
  }

  .about-us__img {
    background: url("about-us-laptop.15af8c09.jpg") center / cover no-repeat;
    height: 460px;
  }

  .main__about-us__content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    margin-left: -150px;
    padding: 160px 30px 120px;
    display: flex;
  }

  .about-us__title {
    width: 498px;
    height: 96px;
    margin-top: -24px;
    margin-left: 156px;
    margin-right: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }

  .about-us__content {
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 411px;
    height: 110px;
    margin-top: -30px;
    margin-left: -60px;
    margin-right: -70px;
    padding-right: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }

  .dell-br {
    display: none;
  }

  .contact-us {
    width: 1260px;
    margin: 50px auto 0;
  }

  .contact-us__fields {
    flex-direction: column;
    width: 498px;
    margin-bottom: 100px;
    margin-left: -396px;
    display: flex;
  }

  .contact-us__fields__style, .contact-us__button {
    width: 498px;
  }

  body, html {
    height: 100%;
    margin: 0;
  }

  .content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 244px;
  }

  .footer-position {
    width: 1260px;
    height: 0;
    margin: 0 auto;
    padding-left: 357px;
    display: block;
    position: relative;
  }

  .footer {
    z-index: 3;
    background: none;
    width: 411px;
    height: 211px;
    display: block;
    position: absolute;
    top: -520px;
    left: 78%;
    transform: translateX(-50%);
  }
}
/*# sourceMappingURL=index.971c2ea4.css.map */
